@model Bank.Models.TermDeposit

@{
    ViewData["Title"] = "WithDraw";
}

<h1>WithDraw</h1>

<h4>CheckingAccount</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="WithDraw">



            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <span asp-validation-for="Balance" class="text-danger"></span>
            <span asp-validation-for="EndDate" class="text-danger"></span>
            <div class="form-group">
                <label asp-for="Type" class="control-label"></label>
                <input asp-for="Type" class="form-control" disabled />
                <span asp-validation-for="Type" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndDate" class="control-label">Mature Date</label>
                <input asp-for="EndDate" class="form-control" disabled/>
            </div>
            <div class="form-group">
                <label asp-for="Balance" class="control-label"></label>
                <input asp-for="Balance" class="form-control" disabled />
            </div>
            <div class="form-group">
                <label class="control-label">WithDraw amount: </label>
                <input name="amount" class="form-control" min="0" />

            </div>
            <div class="form-group">
                <input type="submit" value="Withdraw" class="btn btn-primary" />

            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
